
.card{
    border: 2px solid yellow;
    max-width: 340px;
    background-color: azure;
    padding: 10px 32px;
    margin: 10px 15px;
    text-align: center;


}
.icon{
    width:32px;
    height:32px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 auto;
}
body{
    background-color:black;

}